$color-primary: #3046C5;
$color-secondary: #5637DD;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif; /* add second font sans-serif in case for some reason the browser is unable to load the first one */
$header-font: "Lobster", cursive;

// The above is setting up variables, which is unique to SCSS. SASS variables help to make code more maintainable and readable. You can then change the below CSS to the variable names instead of the hex codes

body {
    font-family: $body-font; 
} 

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
     h2 {
        color: $color-pale;
    } // CSS doesn't support nesting like this, but SASS does. Nesting is not necessary but can help code visually to be readable
}

footer {
    background-image:linear-gradient($color-pale, white); /*creating custom background image using gradient */
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0; /*50 px on the top and bottom, 0 on the left and right */
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark{
    background-color: $color-mid;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: $color-black-transparent; /* use rgba to have access to alpha channel- last number is alpha channel, which indicates opacity */
 } /*adding transparent black background to carousel caption */

 .carousel {
     border: solid $color-secondary;
 }

 #carouselButton {
     position: absolute;
     right:0;
     bottom:0;
     z-index: 100; /* z-index ensures the buttons appear overlaid on top of the carousel instead of hidden underneath */
 }


#reserveModal {
    .modal-header {
        background-color: $color-teal;
        color: white;
    }
}

#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}