body {
    font-family: "Open Sans", sans-serif; /* add second font sans-serif in case for some reason the browser is unable to load the first one */
} 

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image:linear-gradient(#CEC8FF, white); /*creating custom background image using gradient */
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0; /*50 px on the top and bottom, 0 on the left and right */
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark{
    background-color: #901CAD;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgb(0, 0, 0, 0.5) /* use rgba to have access to alpha channel- last number is alpha channel, which indicates opacity */
 } /*adding transparent black background to carousel caption */

 .carousel {
     border: solid #5637DD;
 }

 #carouselButton {
     position: absolute;
     right:0;
     bottom:0;
     z-index: 100; /* z-index ensures the buttons appear overlaid on top of the carousel instead of hidden underneath */
 }